.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.col{
  padding: 0;
  margin-top: 20;
}

.fa-arrow-down{
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.fa-arrow-down.open{
  transform: rotate(-180deg);
  transition: transform 0.5s linear;
}